.collage {
	& h2 {
		margin: 0 100px;
		text-align: center;
		font-family: $title-font;
		font-style: italic;
		line-height: 1.1;
		letter-spacing: -1px;
		font-size: 42px!important;
		color: $black;
		@media only screen and (max-width: #{$global-breakpoint}) {
			font-size: 26px!important;
			margin: 0;
		}
	}

		& h3 {
			margin: 0 40px!important !important;
			text-align: center;
			font-family: $body-font-family;
			line-height: 1.1;
			font-size: 28px;
			color: $black;
			@media only screen and (max-width: #{$global-breakpoint}) {
				font-size: 24px!important;
				margin: 0!important !important;
			}
		}

		.button {
			color: $primary-color;
			margin: 10px 0;
		}
}
