.header {
  background: $white;
  background-color: $white;
  .logo {
    width: 128px;
  }
}

.sub-header {
  background-color: $second-footer;
  .container {
    background: $second-footer;
    // padding-top: 10px;
    // padding-bottom: 10px;
  }
}

.columns {
  padding: 5px 10px !important;

  .text-center {
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
  }
}
