.heroimage {
   background-size: cover;
   height: 40vh;

  h1 {
      font-family: $title-font;
      text-align: center;
      font-style: italic;
      color: $white;
    }

   p.heroDescription {
      color: $white;
      font-weight: 700;
     }

}

header .wrapper-inner {
  padding: 20px;
}

.em {
  color: $dark-blue;
}
