.secondfooter {
	background: $second-footer;

	.container {
		background: $second-footer;
	}

	.highlighted-offer {
		color: $trim-color;
		text-transform: uppercase;
		font-size: 0.875rem;
		line-height: 1rem;
		letter-spacing: 0.10938rem;
		// margin-block-start: 1em;
    // margin-block-end: 1em;
    // margin-inline-start: 40px;
    // margin-inline-end: 40px;
		// align-items: center;
		// padding: 0 0 0 .20;
	}

	//copied from the highlighted-offer styling.
	//Wouldn't inherit it for some reason...

	.award-text {
		color: $trim-color;
		text-transform: uppercase;
		font-size: 0.875rem;
		line-height: 1rem;
		letter-spacing: 0.10938rem;
	}

	.text-gray {
		color: #8094A4;
		font-weight: 300;
    font-size: 0.875rem;
    line-height: 1.25rem;
    letter-spacing: 0.01562rem;
	}

	.simple-text {
    font-weight: 300;
    font-size: 0.875rem;
    line-height: 1.25rem;
    letter-spacing: 0.01562rem;
    color: #E0F2FF;
}
}
