.social {
  & .columns {
    padding-bottom: 0;
  }
  & img {
    @media only screen and (max-width: #{$global-breakpoint}) {
      display: block!important;
      height: 22px!important;
      width: auto!important;
    }
  }
}
