<container>
	<spacer size="25"></spacer>
	<wrapper class="collage">
	  <container>
	    <h2>Alaskan Cruise</h2>
			<spacer size="10"></spacer>
			<h3>Image Gallery</h3>
	    <spacer size="5"></spacer>
	    <center>
				<button class="button" href="https://www.ncl.com/vacations/?cruise=0&cruiseTour=1&cruiseHotel=1&cruiseHotelAir=1&destinations=Alaska_Cruises">view all</button></center>
			<img src="{{ root }}/assets/img/collage.png" alt="collage">
	  </container>
	</wrapper>
</container>
<spacer size="10"></spacer>
