<container>
  <row>
    <columns small="12" large="5">
      <spacer size="20"></spacer>
      <p class="mapHeader">
          11 & 14-day voyages
          <span>Norwegian Bliss & Norwegian Joy</span>
      </p>
      <img src="{{ root }}/assets/img/map.png">
      <spacer size-"4"></spacer>
        <p class="sched">Begins May 2019</p>

    </columns>

    <columns small="12" large="7">
      <ul class="perks">
        <li>Witness nature at its most enticing on an Alaska cruisetour. Experience Alaska by both land and sea in one seamless trip that goes beyond the expected.</li>
        <spacer size="5"></spacer>
        <li>Embark on a land tour to enhance your cruise vacation with overnight stays in Denali and Anchorage. </li>
        <spacer size="5"></spacer>
        <li>Exclusive to Norwegian, all Cruisetours are led by local Alaskan guides who pass along their traditions and real-life experiences.</li>
        <spacer size="5"></spacer>
        <li>Get closer to nature and experience Alaska up close on The Waterfront, exclusively on Norwegian’s Breakaway and Breakaway Plus class ships.</li>
        <spacer size="5"></spacer>
        <li>Free bar includes a variety of premium spirits, cocktails, wines by the glass and bottled or draft beer up to $11 on board and on land. Non-alcoholic beer is also included.</li>
      </ul>
    </columns>
  </row>
</container>
