<wrapper class="footer">
  <container>
    <spacer size="10"></spacer>
    <center>
      <menu class="small-vertical">
        <item class="listing_item"><span class="textGray">&copy; 2019 Norwegian Cruise Line Holdings Ltd.</span></item>
				<item class="listing_item"><a class="simpleText" href="//www.ncl.com/freestyle-cruise/legal-notice" title="Legal Notice">Legal Notice</a></item>
				<item class="listing_item"><a class="simpleText" href="//www.ncl.com/about-us/privacy-policy" title="Privacy Policy">Privacy Policy</a></item>
				<item class="listing_item"><a class="simpleText" href="//www.ncl.com/sitemap" title="Sitemap">Sitemap</a></item>
				<item class="listing_item"><a class="simpleText" href="https://assistivesite.ncl.com" title="Assistive Site">Assistive Site</a></item>
      </menu>
    </center>
		<center>
      <menu>
        <item href="http://pinterest.com/norwegiancruise/" target="_blank"><img src="https://i.imgur.com/4TBqleV.png"></item>
        <item href="http://facebook.com/norwegiancruise" target="_blank"><img src="https://i.imgur.com/ygKeIX0.png"></item>
        <item href="http://instagram.com/norwegiancruise" target="_blank"><img src="https://i.imgur.com/sySwyb0.png"></item>
        <item href="http://twitter.com/norwegiancruise" target="_blank"><img src="https://i.imgur.com/TAU2M14.png"></item>
        <item href="http://youtube.com/norwegiancruise" target="_blank"><img src="https://i.imgur.com/qpsVjDv.png"></item>
      </menu>
     </center>
  </container>
</wrapper>
