<wrapper class="color">

{{> divider}}

<container>
  <columns>
    <row class="lower-links">
      <columns>
        <center class="center-tag" style="min-width: auto;">
          <span class="textGray">&copy; 2019 Norwegian Cruise Line Holdings Ltd.</span></br>
          <a href="https://www.ncl.com/freestyle-cruise/legal-notice" class="link">Legal Notice</a>
          <a href="https://www.ncl.com/about-us/privacy-policy" class="link">Privacy</a>
          <a href="https://www.ncl.com/sitemap" class="link">Sitemap</a>
          <a href="https://assistivesite.ncl.com" class="link">Assistive</a>
        </center>
      </columns>
    </row>
  </columns>
</container>

    <!-- Social -->
<container>
  <columns>
    <row class="footer-social">
      <columns class="logo-section" small="6" large="9" valign="middle">
      </columns>
        <columns small="4" large="4">
        <row class="social-icons">
        <columns small="4" large="4">
          <img src="https://i.imgur.com/xg8lcmd.png" />
        </columns>
        <columns small="4" large="4">
          <img src="https://i.imgur.com/hwiawvt.png" />
        </columns>
        <columns small="4" large="4">
          <img src="https://i.imgur.com/3YpSknO.png"/>
        </columns>
      </row>
    </columns>
  </row>
  </columns>
</container>

<container>
  <columns>
  <row class="footer-bottom">
    <column>
      <row class="final-offer">
        <a class="c4" href="/world-points" title="10,000 Bonus Points Offer" aria-label="10,000 Bonus Points Offer" target="_blank" rel="noopener">
          <figure class="c4_figure"><img class="c4_image" src="/sites/default/files/WPCard-Footer.png" alt="Credit Card -Alt">
            <figcaption class="c4_figcaption"><span class="c4_figcaption_item linkText -large">10,000 Bonus Points Offer</span><span class="c4_figcaption_item simpleText"> </span></figcaption>
          </figure>
        </a></div>
        <div class="m3_body">
          <div class="m3_copy"><a class="m3_copy_item linkText -large" href="/cruise-destinations/caribbean-cruises" title="Awards" aria-label="Awards">Awards</a>
            <p class="m3_copy_item textGray">Voted <span class="simpleText">"The Caribbean's Leading Cruise Line"</span> 2013-2018 by World Travel Awards</p>
          </div>
      </row>
    </column>
  </row>
  </columns>
</container>

</wrapper>
