<container>
	<row class="header">
		<columns small="6" large="6">
			<img class="logo" src="../assets/img/norwegian-logo.jpg">
		</columns>
	</row>

	<row class="sub-header">
		<columns style="width: 90%">
			<row>
				<columns small="4" large="3" class="show-for-large">
					<a href="https://www.ncl.com/cruise-destinations/alaska-cruises?cid=PS_TSI_DESTAKA_DST_GOO-g_LEN_SRH__norwegian%20cruise%20line%20alaska_aud-414297768710:kwd-319990412787&kshid=_k_Cj0KCQjw3uboBRDCARIsAO2XcYBp4TaZSqJ8fNafDz1woVdg3miVTbcYbuS5DSX6iPJE7rN85y8luskaAu_LEALw_wcB_k_&kwid=6114187&anchor=NA&gclid=Cj0KCQjw3uboBRDCARIsAO2XcYBp4TaZSqJ8fNafDz1woVdg3miVTbcYbuS5DSX6iPJE7rN85y8luskaAu_LEALw_wcB" class="text-center"> Why Norwegian </a>
				</columns>


				<columns class="show-for-large" style="width: 1%">
					<span class="menu-divider"></span>
				</columns>
				<columns small="4" large="3" class="show-for-large">
					<a href="https://www.ncl.com/vacations" class="text-center">
						Explore
					</a>
				</columns>

				<columns small="4" large="3">
					<a href="https://tinyurl.com/yxqu9ssw " class="text-center"> Manage </a>
				</columns>
				<columns small="4" large="3" class="show-for-large">
					<a href="https://www.ncl.com/cruise-deals" class="text-center"> Cruise Deals </a>
				</columns>
			</row>
		</columns>
	</row>
</container>
