<wrapper class="header">
	<container>
		<row class="header">
			<columns small="6" large="6">
				<img class="logo" src="https://i.imgur.com/AQAy5TO.png">
			</columns>
		</row>
	</container>
</wrapper>

<wrapper class="sub-header">
	<spacer size="10"></spacer>
	<container>
		<row>
			<columns small="3" large="3"> <a href="https://tinyurl.com/y28k646b" class="text-center"> Why Norwegian </a> </columns>
			<columns small="3" large="3"> <a href="https://www.ncl.com/vacations" class="text-center"> Explore </a> </columns>
			<columns small="3" large="3"> <a href="https://tinyurl.com/yxqu9ssw" class="text-center"> Manage </a> </columns>
			<columns small="3" large="3"> <a href="https://www.ncl.com/cruise-deals" class="text-center"> Cruise Deals </a> </columns>
		</row>
	</container>
	<spacer size="10"></spacer>
</wrapper>
