<container>
  <row class="pre-header">
    <columns style="width: 100%">
      <row>
        <columns small="4" large="3">
          <a href="https://www.ncl.com/why-cruise-norwegian" class="text-center">
            Why Norwegian
          </a>
        </columns>

        <columns small="4" large="3">
          <a href="https://www.ncl.com/vacations" class="text-center">
            Explore
          </a>
        </columns>

        <columns small="4" large="3">
          <a href="https://tinyurl.com/yxqu9ssw " class="text-center">
            Manage
          </a>
        </columns>
        <columns small="4" large="3" class="show-for-large">
          <a href="https://www.ncl.com/cruise-deals" class="text-center">
            Cruise Deals
          </a>
        </columns>
      </row>
    </columns>
  </row>
</container>
