<container>
   <spacer size="20"></spacer>
    <row class="headerText">
    <columns small="12" large="12" class="aboutPromo">
      <h6 class="aboutPromoHeader">NORWEGIAN'S ALL-INCLUSIVE CRUISING TO CUBA.</h6>
      <p class="aboutPromoDescription">Cruise into Havana Harbor on board Norwegian Sky and discover larger-than-life culture, sultry rhythms and weathered beauty during your overnight stay. Stroll the Malecón and get lost among Baroque facades and colonial cobblestone streets of Old Havana. Or enjoy a friendly game of dominoes with the locals and live jazz music. Then kick back on Norwegian’s private island in the Bahamas, Great Stirrup Cay. From the legendary nightlife of Havana to your own private paradise in the Bahamas, get ready for a vacation of historic proportions on Norwegian Sky’s 4-Day Bahamas & Cuba cruise.</p>
    <spacer size="16"></spacer>
    </columns>
  </row>
</container>
