<container>
  <spacer size="20"></spacer>
  <row>
    <column>
      <p class="reading">
        <span class="aboutpromoHeader"> ALASKAN CRUISES: </span>
        <span class="feelfree"> FEEL FREE TO LET THE OUTSIDE IN </span>
      </p>

      <p class="aboutpromoDescription">Filled with icy fjords that tower over the Pacific Ocean while snowy peaks stretch towards the horizon, Alaska feels boundless. Yet incredibly intimate as you watch eagles nesting along coastal forests.
        Norwegian lets you explore all sides of Alaska the way locals see it, up close and personal on an Alaskan cruise. Or head deeper into the frozen wilderness on an Alaska Cruisetour. Experience the thrill of a 30 ton whale gliding under your
        catamaran. Kids' faces will light up like the midnight sun as they enjoy special kids activities and entertainment on board <em>Norwegian Jewel</em>. Or experience a vacation like no other on board <em>Norwegian Bliss</em> and her sister ship,
        <em>Norwegian Joy</em>, when she begins cruising Alaska in spring 2019. Explore more of the last frontier on any of our Alaska cruises with Norwegian.</p>
    </column>
  </row>
  <spacer size="16"></spacer>
</container>
