<div class="m2_header">
	<!-- c3 -->
	<div class="c3">
		<ul class="listing -inline -centered">
			<li class="listing_item"><span class="textGray">&copy; 2019 Norwegian Cruise Line Holdings Ltd.</span></li>
			<li class="listing_item"><a class="simpleText" href="//www.ncl.com/freestyle-cruise/legal-notice" title="Legal Notice">Legal Notice</a></li>
			<li class="listing_item"><a class="simpleText" href="//www.ncl.com/about-us/privacy-policy" title="Privacy Policy">Privacy Policy</a></li>
			<li class="listing_item"><a class="simpleText" href="//www.ncl.com/sitemap" title="Sitemap">Sitemap</a></li>
			<li class="listing_item"><a class="simpleText" href="https://assistivesite.ncl.com" title="Assistive Site">Assistive Site</a></li>
			<li class="listing_item">
				<div class="dropdown -variant-1"><a id="currentLangLink" class="linkText -small dropdown-toggle" data-toggle="dropdown" href="#" title="" aria-label=""><span class="text">&nbsp;</span></a>
					<div class="dropdown-menu">
						<ul class="listing -block">
							<li class="listing_item linkItem"><a class="altLangLink " href="#" title="" aria-label=""><span class="text">&nbsp;</span></a></li>
						</ul>
					</div>
				</div>
			</li>
		</ul>
		<div class="hide"><span id="mobile-toggle"></span></div>
	</div>
</div>
<div class="m2_body">
	<ul class="listing -icons -centered">
		<li class="listing_item"><a class="m2_link" target="_blank" href="http://pinterest.com/norwegiancruise/" title="Pinterest" aria-label="Pinterest"><i class="icon-social nis-pinterest"></i></a></li>
		<li class="listing_item"><a class="m2_link" target="_blank" href="https://www.facebook.com/Norwegiancruiseline" title="Facebook" aria-label="Facebook"><i class="icon-social nis-facebook"></i></a></li>
		<li class="listing_item"><a class="m2_link" target="_blank" href="http://instagram.com/norwegiancruiseline" title="Instagram" aria-label="Instagram"><i class="icon-social nis-instagram"></i></a></li>
		<li class="listing_item"><a class="m2_link" target="_blank" href="http://www.twitter.com/cruisenorwegian" title="Twitter" aria-label="Twitter"><i class="icon-social nis-twitter"></i></a></li>
		<li class="listing_item"><a class="m2_link" target="_blank" href="https://www.youtube.com/user/NCLFreestyle" title="Youtube" aria-label="Youtube"><i class="icon-social nis-youtube"></i></a></li>
	</ul>
</div>
</div><!-- m3 -->





<div class="m3">
	<div class="m3_header" data-analytics-region="mod_mastercard_promo">
		<!-- c4 --><a class="c4" href="/world-points" title="10,000 Bonus Points Offer" aria-label="10,000 Bonus Points Offer" target="_blank" rel="noopener">
			<figure class="c4_figure"><img class="c4_image" src="/sites/default/files/WPCard-Footer.png" alt="Credit Card -Alt">
				<figcaption class="c4_figcaption"><span class="c4_figcaption_item linkText -large">10,000 Bonus Points Offer</span><span class="c4_figcaption_item simpleText"> </span></figcaption>
			</figure>
		</a></div>
	<div class="m3_body">
		<div class="m3_copy"><a class="m3_copy_item linkText -large" href="/cruise-destinations/caribbean-cruises" title="Awards" aria-label="Awards">Awards</a>
			<p class="m3_copy_item textGray">Voted <span class="simpleText">"The Caribbean's Leading Cruise Line"</span> 2013-2018 by World Travel Awards</p>
		</div>
	</div>
</div>
</div>
</section>
</footer>
</div>
