<wrapper class="secondfooter">
	<spacer size="10"></spacer>
	<container>
		<center>
			<menu>
				<item href="https://www.ncl.com/world-points"> <img src= "https://i.imgur.com/HIs7spB.png" height="60" width="38" />
				<item href="https://www.ncl.com/world-points"> <span class="highlighted-offer"> 10,000 bonus points offer </span> </item>
			</menu>
		</center>
	</container>

	<spacer size="10"></spacer>

	<container>
		<p class="award" href="https://www.ncl.com/cruise-destinations/caribbean-cruises">
			<span class="award-text"> Awards </span>
			<span class="text-gray"> Voted </span>
			<span class="simple-text"> "The Caribbean's Leading Cruise Line" </span>
			<span class="text-gray">
			2013-2018 by World Travel Awards
			</span>
		</p>
	</container>
	<spacer size="20"></spacer>
</wrapper>


	<!-- <container>
		<spacer size="10"></spacer>
		<center>
			<row class="award">
				<h5 class="highlighted-ofer">
					AWARDS
					<span class="simpleText">Voted</span>
					<p>"The Caribbean's Leading Cruise Line"</p>
					<span class="simpleText">2013-2018 by World Travel Awards</span>
				</h5>
			</row>
		 </center>
</container>  -->
