<wrapper class="secondfooter">
	<spacer size="10"></spacer>
	<container>
		<row>
			<column>
				<img class="listing_item" href="https://www.ncl.com/world-points"><img src="{{ root }}/assets/img/creditcard.png" height="60" width="38"></item>
			</column>
			<column>
					<item class="listing_item"><span class="highlighted-offer">10,000 BONUS POINTS OFFER</span></item>
			</column>
		</row>
	<spacer size="10"></spacer>
	</container>


	<container>
		<spacer size="10"></spacer>
		<center>
			<row class="award">
				<h5 class="highlighted-ofer">
					AWARDS
					<span class="simpleText">Voted</span>
					<p>"The Caribbean's Leading Cruise Line"</p>
					<span class="simpleText">2013-2018 by World Travel Awards</span>
				</h5>
			</row>
		 </center>
	</container>
</wrapper>
