<wrapper class="social">
  <container>
    <center>
      <menu>
        <item href="https://www.pinterest.com/norwegiancruise/" target="_blank" i class="fa fa-pinterest-p" height="22" width="22"></i>
        <item href="https://www.facebook.com/Norwegiancruiseline" target="_blank" i class="fa fa-facebook" height="22" width="22"></i>
        <item href="https://www.instagram.com/norwegiancruiseline/" target="_blank" i class="fa fa-instagram" height="22" width="22"></i>
        <item href="https://twitter.com/cruisenorwegian" target="_blank"target="_blank" i class="fa fa-twitter" height="22" width="22"></i>
      </menu>
     </center>
  </container>
</wrapper>
