<container class="social">
  <center>
    <menu>
      <item href="https://www.pinterest.com/norwegiancruise/" target="_blank"><img src="{{root}}/assets/img/fa-pinterest.png" height="22" width="22"></item>
      <item href="https://www.facebook.com/Norwegiancruiseline/" target="_blank"><img src="{{root}}/assets/img/fa fa-facebook.png" height="22" width="22"></item>
      <item href="https://www.instagram.com/norwegiancruiseline/" target="_blank"><img src="{{root}}/assets/img/fa fa-instagram.png" height="22" width="22"></item>
      <item href="https://twitter.com/cruisenorwegian/" target="_blank"><img src="{{root}}/assets/img/fa fa-twitter.png" height="22" width="22"></item>
    </menu>
  </center>
  <spacer size="40"></spacer>
</container>
