<wrapper class="wrapper-color">
	<container>
		<row>
		<columns>
			<center>
				<h2 class="headline"> The Norwegian Difference </h2>
			<img src="https://i.imgur.com/TNM1ByL.png" />
			</center>
		</columns>
		</row>
	</container>

	<container>
		<row class="details">
			<columns large="7">
				<h3>Feel Free</h3>
	      <p>No schedules. No stipulations. Just award-winning entertainment and diverse dining options from the only cruise line built for versatile vacationing</p>
				<spacer size="5"></spacer>
				<h4>The Most Inclusive Vacations</h4>
	      <p>Enjoy the most inclusive contemporary cruise vacations with Norwegian's Free at Sea. Choose up to 5 Free Offers, like Free Unlimited Open Bar and Friends & Family Sail Free, to customize your vacation to any destination, any time of year.</p>
				<spacer size="10"></spacer>
				<h5>Go Your Own Way</h5>
				<p>With one-of-a-kind onboard experiences like a race track at sea, an idyllic private island with white sand beaches and plenty to do, and itineraries exclusive to Norwegian, we’ll take you places in ways no other cruise line can.</p>
			</columns>
		</row>

			<columns large="5" class="sidebar">
				<callout class="secondary">
					<img src="https://i.imgur.com/1ZWJikh.png" />
				</callout>
				<callout class="secondary">
					<img src="https://i.imgur.com/hreCn5H.png" />
				</callout>
			</columns>
	</container>
</wrapper>
